@model Department

@{
	ViewBag.Title = "Кафедра";
}

<div class="panel-heading">
	<h1 class="m-1">@Model.Name</h1>

	<p class="h2 m-1">@Model.Faculty.Name</p>

	<p class="h3 m-1">
		Завідувач: @Model.Lecturers.First(l => l.IsHead).User.FullName
	</p>
</div>

<div class="panel-body p-1">
	<table class="table table-bordered table-striped">
		<caption>Викладачі</caption>
		<thead>
			<tr>
				<th>Прізвище</th>
				<th>Ім'я</th>
				<th>По-батькові</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var lecturer in Model.Lecturers.OrderBy(l => l.User.LastName))
			{
				<tr>
					<td>@lecturer.User.LastName</td>
					<td>@lecturer.User.FirstName</td>
					<td>@lecturer.User.MiddleName</td>
				</tr>
			}
		</tbody>
	</table>

	<a asp-action="Index" class="btn btn-primary btn-sm m-1">Назад</a>
</div>

@section scripts {
	<script asp-src-include="~/lib/jquery/dist/jquery.js"></script>

	<script asp-src-include="~/lib/tether/dist/js/*.js"
	        asp-src-exclude="~/lib/tether/dist/js/*.min.js"></script>

	<script asp-src-include="~/lib/bootstrap/dist/js/*.js"
	        asp-src-exclude="~/lib/bootstrap/dist/js/*.min.js"></script>
}
